.Select {
    padding: 17px 24px;
    background: var(--background-light);
    border-radius: 8px;
    width: 260px;
    position: relative;
    font-size: 23px;
    cursor: pointer;
}

.Select:first-child {
    margin-right: 40px;
}

.Select__selectedOption {
    position: relative;
}

.Select__label {
    color: var(--cta);
}

.Select__value {
    color: var(--text-dark);
    margin-left: 8px;
}

.Select__options {
    position: absolute;
    padding: 0;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
    background: var(--background-light);
}

.Select__option {
    height: 50px;
    line-height: 50px;
    list-style-type: none;
    padding: 0 8px;
}

.Select__option:hover {
    background: var(--cta);
}