.DetailedEpisode {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.DetailedEpisode__imageContainer {
    display: inline-block;
    margin: 0 48px 0 120px;
    vertical-align: center;
    height: 470px;
}

.DetailedEpisode__image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: var(--background-grey);
    color: var(--text-white);
    width: 300px;
    height: 300px;
}

.DetailedEpisode__image_text{
    font-size: 50px;
}

.DetailedEpisode__description {
    display: inline-block;
    margin-right: 48px;
    margin-top: 42px;
    line-height: 18px;
    height: 470px;
}

.DetailedEpisode__mainInfo {
    display: inline-block;
    margin-right: 20px;
}

.DetailedEpisode__characters {
    display: inline-block;
    vertical-align: top;
}

.DetailedEpisode__tagsList {
    margin-top: 16px;
    margin-bottom: 33px;
    display: flex;
    align-items: flex-end;
}

.DetailedEpisode__name {
    display: flex;
    align-items: flex-end;
    font-size: 46px;
}

.DetailedEpisode__links {
    font-size: 15px;
    margin-bottom: 44px;
    display: flex;
}

.DetailedEpisode__link {
    margin-right: 8px;
    color: var(--cta);
    text-decoration: none;
}

.DetailedEpisode__link_active {
    color: var(--text-dark);
    text-decoration: none;
}

.DetailedEpisode__character_link{
    text-decoration: none;
    color: var(--text-dark);
}